.testimonials{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.testimonials h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testimonial-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
}
.testimonial{
    width: 350px;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: margin-bottom 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
}
.testimonial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7); 
    z-index: 1; 
    transition: background-color 0.3s ease;
    border-radius: 20px;
}
.testimonial:hover::before {
    background-color: rgba(0, 0, 0, 0.2); /* Remove the overlay on hover */

}
.testimonial:hover{
    margin-bottom: 50px;
}
.testimonial-content {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
    color: white; /* Adjust text color for readability */
    padding: 20px; /* Adjust padding as needed */
    top: 200px;
}

.testimonial-content p{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    text-transform:capitalize;

}
.testimonial-content p span{
    color: red;
    font-size: 25px;
}
.testimonial-content h4{
    font-size: 12px;
    margin: 0;
}
.testimonial-content h3{
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
    text-transform: uppercase;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 768px) {
    .testimonials{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 100px;
    }
    .testimonial-container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 30px;
    }
    .testimonial{
        width: 400px;
        height: 500px;
    }
    .testimonial:hover{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 684px) {
    .testimonials{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 100px;
    }
    .testimonial-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 50px;
        margin-bottom: 30px;
    }
    .testimonial{
        width: 400px;
        height: 500px;
    }
    .testimonial:hover{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 480px) {
    .testimonials{
        width: 115.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 100px;
    }
    .testimonial-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 50px;
        margin-bottom: 30px;
    }
    .testimonial{
        width: 400px;
        height: 500px;
    }
    .testimonial:hover{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 430px){
    .testimonials{
        width: 115.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin-bottom: 100px;
    }
    .testimonial-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 50px;
        margin-bottom: 30px;
    }
    .testimonial{
        width: 400px;
        height: 500px;
    }
    .testimonial:hover{
        margin-bottom: 0;
    }
}